# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin

.cache
build/
vendor/glfw
vendor/glm
vendor/stb-image
vendor/imgui/.github
CMakeFiles