[submodule "lib/uikit"]
	path = lib/uikit
	url = https://github.com/infiniteHQ/uikit
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
