[Desktop Entry]
Name=Vortex Creation Platform
Exec=/bin/vortex_desktop
Icon=/usr/include/vortex/icon.png
Terminal=false
Type=Application
Categories=Utility;Development;
