{
    "project": {
        "author": "InfiniteHQ",
        "compatibleWith": "1.0",
        "description": "This is a internal test project to debug et test the Vortex editor",
        "include_system_templates": true,
        "lastOpened": "unknow",
        "logoPath": "/icon.png",
        "name": "MyNew Name",
        "type": "Test",
        "version": "1.2.3"
    }
}