{
    "project": {
        "author": "unknow",
        "compatibleWith": "unknow",
        "description": "unknow",
        "include_system_templates": true,
        "name": "unknow",
        "type": "unknow",
        "version": "unknow",
        "lastOpened": "unknow",
        "logoPath": "/icon.png"
    }
}
